.scrollbar-hide::-webkit-scrollbar {
    width: 0 !important;
}

.ignore_lib h1 {
    display: block !important;
    font-size: 2em !important;
    margin-top: 0.67em !important;
    margin-bottom: 0.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib h2 {
    display: block !important;
    font-size: 1.5em !important;
    margin-top: 0.83em !important;
    margin-bottom: 0.83em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib h3 {
    display: block !important;
    font-size: 1.17em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib h4 {
    display: block !important;
    margin-top: 1.33em !important;
    margin-bottom: 1.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib h5 {
    display: block !important;
    font-size: .83em !important;
    margin-top: 1.67em !important;
    margin-bottom: 1.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib h6 {
    display: block !important;
    font-size: .67em !important;
    margin-top: 2.33em !important;
    margin-bottom: 2.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.ignore_lib i {
    font-style: italic !important;
}

.ignore_lib u {
    text-decoration: underline !important;
}

.ignore_lib b {
    font-weight: bold !important;
}

.ignore_lib p {
    display: block !important;
    margin-top: 1.12em !important;
    margin-bottom: 1.12em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ignore_lib blockquote {
    display: block !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
}


.ignore_lib h1,
.ignore_lib h2,
.ignore_lib h3,
.ignore_lib h4,
.ignore_lib h5,
.ignore_lib h6,
.ignore_lib p,
.ignore_lib u,
.ignore_lib u,
.ignore_lib i,
.ignore_lib blockquote,
.ignore_lib code,
.ignore_lib b {
    margin: 0.5rem !important;
    font-size: 14px;
}