/* body {
    background-color: #FAFAFA !important;
} */

/* :root {
    --chakra-colors-chakra-body-bg: #FAFAFA !important;
} */

.sidebar::-webkit-scrollbar {
    width: 0 !important;
}
/* 
.sidebar::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #8ccef0 !important;
    border-radius: 24px;
} */